.profile {
    margin: 30px;
    text-align: center;
    width: 260px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;
}

.description {
    justify-content: center;
    max-height: 300px;
    overflow: hidden;
}

.avatar__jpg {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto 30px auto;
    border-radius: 50%;
    background-color: black;
    border-color: black;
    border-width: 2px;
}

.profile__name {
    font-size: 20px;
    font-weight: 700;
}

.profile__stats {
    display: flex;
    list-style: none;
    background-color:lightgray;
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
}

.profile__li {
    box-sizing: border-box;
    width: calc(100%/3 - 2px);
    margin: 0;
    display: flex;
    flex-direction: column;

    padding:10px 0;
}

.profile__li:not(:last-child) {
    border: 1px solid rgb(216, 224, 234);
}

.profile__quantity {
    font-weight: 700;
}

.profil__label {
    color: rgb(125, 125, 125);
    font-size: small;
    padding-bottom: 3px;
}