.transaction {
    margin: 30px;
    text-align: center;
    min-width: 400px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.16) 4px 4px 4px;
    background: white;
    font-size: 16px;
    padding: 0;
}

.transaction__head{
    background-color: rgb(34, 150, 218);
    color:antiquewhite
}

.transaction__body {
    color: rgba(0, 0, 0, 0.66)
}

.transaction__row:nth-child(2n) {
    background-color: rgb(218, 239, 240);
}

.transaction__row {
    height: 40px;
}