.friendlist {
    margin: 30px;
    text-align: center;
    width: 260px;
    background: white;
    font-size: 16px;
    list-style: none;
    padding: 0;
    justify-content: baseline;
}

.online {
    width:20px;
    height:20px;
    margin: 20px;
    border-radius: 20px;
    background-color: green;
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.3);
}

.offline {
    width:20px;
    height:20px;
    margin: 20px;
    border-radius: 20px;
    background-color: red;
    box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.3); 
}

.item {
    display: flex;
    height: max-content;
    min-height: 100px;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

.item__avatar {
    width: 75px;

}

.item__name {
    margin: 20px;
}